<td class="item-price">
  <% if @order.is_wholesale? && item.variant.is_wholesaleable? %>
    <%= display_price(item.variant, true) %>
  <% else %>
    <%= display_price(item.variant, false) %>
  <% end %>
</td>
