<% if spree_current_user && spree_current_user.wholesaler? %>
  <% if product.is_wholesaleable? && product.wholesale_price.present? %>
    <div class="price wholesale"><%= display_price(product, true) %></div>
  <% end %>
<% end %>
