<% order ||= @order %>
<% if order.wholesaler.terms == "Transferwise USD" || order.wholesaler.terms == "Transferwise EUR" %>
  <p><%= Spree.t(:terms_reminder) %></p>
<% end %>
<% if order && order.is_wholesale? %>
  <p class="wholesale-customer-id">
    <%= t('spree.wholesaler.company', { :company => order.wholesaler.company }) %><br/>
    <%= t('spree.wholesaler.buyer', { :buyer => order.wholesaler.buyer }) %>
  </p>
<% end %>
