<% if @user.lead? && @user.authentication_token.present? %>
  <div data-hook="admin_user_auto_login_link" class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:automatic_login_link) %>
      </h1>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="loginLink">Login Link</label>
        <input type='text' data-link-code=true id='loginLink' value='<%= root_url(user_email: @user.email, user_token: @user.authentication_token, subdomain: 'wholesale') %>' class='form-control referral-url-field' />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-copylink" data-copy-link-code=true type="button" title='Copy login link'><span class='glyphicon glyphicon-copy'></span></button>
      </div>
    </div>
  </div>
<% end %>
