<% if spree_current_user && spree_current_user.lead? %>
  <h3 class="spree-mb-large spree-mt-large spree-header">
    <%= Spree.t(:create_a_password) %>
  </h3>
<% else %>
  <h3 class="spree-mb-large spree-mt-large spree-header">
    <%= Spree.t(:editing_user) %>
  </h3>
<% end %>
